<div class="container" ng-controller="buildCtrl">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link active" href="#">Android <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">iOS</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">贷嘛</h3>
  </div>

  <div class="jumbotron">
    <div class="container-fluid">
      <div id="accordion" role="tablist">
        <div class="card" ng-repeat="build in builds">
          <div class="card-header" role="tab" id="heading{{build.id}}">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapse{{build.id}}" aria-expanded="false" aria-controls="collapse{{build.id}}">
                {{build.build_type}} {{build.release}} {{build.version}}
              </a>
            </h5>
          </div>
          <div id="collapse{{build.id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{build.id}}" data-parent="#accordion">
            <div class="card-body">
              <h4 class="card-title">扫码下载</h4>
              <div>
                <img class="card-img-bottom" src="images/download.png" alt="Card image cap" style="width:300px;height:300px;">
              </div>
              <a href="#" class="btn btn-primary">点击下载</a>
            </div>
          </div>
        </div>
        <!--<div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
